html {
  margin: 0 200px;
}
.App {
  font-family: sans-serif;
}

.post {
  width: 50vw;
  border: 2px solid gray;
  padding: 10px;
  display: flex;
  border-radius: 6px;

  &-id{
    font-size: 3em;
    margin-right: 20px;
  }

  &-title{
    font-size: 2em;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 36vw;
    height: 1.2em;
    white-space: nowrap;
  }

  &-body{
    font-size: 1em;
    margin-right: 20px;
  }
}